{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <button id="decrement-{{ product.id }}"
                            onclick="decrement({{ product.id }}); addProductToCart({{ product.id }})"
                            class="decrement" data-quantity="{{ productsInCart[product.id] }}">-
                    </button>
                    <span id="quantity-{{ product.id }}">{{ productsInCart[product.id] }}</span>
                    <button onclick="increment({{ product.id }}); addProductToCart({{ product.id }})">+</button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="deleteProductFromCart({{ product.id }})">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block javascripts %}
        <script src="/js/change_quantity.js"></script>
        <script src="/js/disable_decrementor.js"></script>
        <script src="/js/delete_product_from_cart.js"></script>
    {% endblock %}
{% endblock %}
