{{ form_start(create_product_form) }}
    {{ form_row(create_product_form.name) }}
    {{ form_row(create_product_form.price) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(create_product_form) }}
